*.apk
*.aar
*.ap_
*.aab
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
lint/reports/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
bin/
gen/
out/
release/
local.properties
*.log
.navigation/
captures/
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.externalNativeBuild
.cxx/